<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Default public NuGet -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- Private GitHub feed -->
    <add key="github" value="https://nuget.pkg.github.com/hrs-org/index.json" />
  </packageSources>
</configuration>